*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: aqua;
    height: 50px;
    text-align: center;
}

main{
    background-color: blueviolet;
    height: 650px;
    padding: 10px;
}

.note{
    background-color: chocolate;
    height: 400px;
    width: 400px;
}