

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --dark: #232020;
    --purple: #553739;
    --offwhite: #FFE3DC;
    --light: #DBB4AD;
    --green: #A2AD91;
    --red: #F13030;
}

header {
    background-color: var(--purple);
    height: 100%;
    text-align: center;
    padding-top: 20px;
}

.header-text { 
    color: var(--light);
    font-size: 36px;
    padding: 20px;
}

main {
    background-color: var(--dark);
    height: 100vh;
    padding-left: 30px;
    padding-top: 50px;
}

h2 {
    color: var(--offwhite); 
}

.note {
    background-color: var(--green);
    height: 400px;
    width: 400px;
    color: var(--dark);
    padding: 5px;
    border-radius: 15px;
    font-size: large;
}

.button {
    margin: 3px;
}

#editBtn {
    border-radius: 5px;
    background-color: #5a68bd;
    margin-left: 15px;
}

#deleteBtn {
    border-radius: 5px;
    background-color: #ec5959;
    margin-left: 15px
}

